.header{
    background-color:brown;
    display:flex;
    justify-content:space-between;
}

.nav-links{
    display:flex;
    justify-content:space-between;
    align-items:center;

}
.nav-links li{
    list-style:none;
    padding:0px 20px;
}
.login-btn{
    
    background-color:rgb(2, 106, 23);
    color:white;
    border-radius:70px;
    width:150px;
    border:none;
    cursor:pointer;
    align-items:center;
    
}

.nav-links li a{
    text-decoration:none;
    color:black;
    font-weight:bold;
}